<html>
  <head>
    <title>FiiGezr</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/file.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/handle_landmarks.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/movies.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1 class="heading">FiiGezr</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="maybe_start_quiz" aria-current="page" href="#" aria-label="Start a quiz game">Quiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="work_with_images" aria-current="page" href="#" aria-label="Work with images">Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="work_with_files" aria-current="page" href="#" aria-label="Work with files">Files</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="rec_movies" aria-current="page" href="#" aria-label="Get movies">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/statistics" >Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="get_info_button">Info</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="camera">
      <div>
        <div class="d-flex justify-content-center mb-3">
            <div class="container">
              <video class="input_video" hidden></video>
              <canvas class="output_canvas" width="1080px" height="650px"></canvas>
              <div class="loading">
                <div class="spinner"></div>
              </div>
            </div>
            <div class="control-panel" hidden></div>
            <div id="current_gesture"></div>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <div class="card text-white bg-danger mb-3 question_container" style="max-width: 18rem;" hidden>
          <div class="card-header">Answer in 10 seconds</div>
          <div class="card-body">
            <h5 class="card-title" id="question_content">Danger card title</h5>
          </div>
        </div>
      </div>
      <!--  Images -->
      <div id="images_game" hidden>
        <!-- The uploaded image. -->
        <div id="uploaded_image_container" class="d-flex justify-content-center mb-3">
          <div id="uploaded_image_content" hidden>
            <canvas id="uploaded_image_canvas" width="600" height="700"></canvas>
          </div>
        </div>
        <!-- Form to upload the image. -->
        <div class="d-flex justify-content-center mb-3">
          <div id="upload_image" class="text-white mb-3" style="max-width: 18rem;">
            <div>
              <form action="/uploader" method="POST" enctype="multipart/form-data" id="image_form">
                 <input type="file" name="file" id="input_image"/>
                 <input type="submit" id="submit_image"/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="go_back" class="btn btn-light" hidden>Exit image context</div>

      <!--  Files -->
      <div id="files_game" hidden>
        <!-- The uploaded file. -->
        <div id="uploaded_file_container" class="d-flex justify-content-center mb-3">
          <div id="uploaded_file_content" hidden>
             <iframe id="uploaded_file_iframe" src=""></iframe>
          </div>
        </div>

        <div id="next_page" class="btn btn-primary">Next</div>
        <div id="previous_page" class="btn btn-primary">Previous</div>
        <!-- Form to upload the file. -->
        <div class="d-flex justify-content-center mb-3">
          <div id="upload_file" class="text-white mb-3" style="max-width: 18rem;">
            <div>
              <form action="/uploader" method="POST" enctype="multipart/form-data" id="file_form">
                 <input type="file" name="file" id="input_file"/>
                 <input type="submit" id="submit_file"/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="go_back_file" class="btn btn-light" hidden>Exit file context</div>

      <div>
        <div class="d-flex justify-content-center mb-3">
          <button class='btn btn-light' id='open_camera_button' hidden>Start data recording</button>
        </div>
      </div>
    </div>

    <!--    Modal for starting movies game-->
    <div class="modal fade" id="start_movies_modal" tabindex="-1" aria-labelledby="movies_title" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="movies_title">Movies recommendation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Choose one movie using the gesture correspondent to it's index:
              <span class="badge bg-danger">1</span> for index 1
              <span class="badge bg-danger">2</span> for index 2
              <span class="badge bg-danger">3</span> for index 3
              <span class="badge bg-danger">4</span> for index 4
              <span class="badge bg-danger">5</span> for index 5
            </p>
            You will get a recommendation based on your selection
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="start_movies_game">Start</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="movies_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Choose one movie</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="movies_body"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Get recommendation</button>
          </div>
        </div>
      </div>
    </div>
<!--    Modal for questions-->
    <div class="modal fade" id="question_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Answer the following questions with
              <span class="badge bg-danger">thumbs up</span> for true and
              <span class="badge bg-danger">thumbs down</span> for false</p>
            <p>You have 10 seconds for each question</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="start_question_game">Start quiz</button>
          </div>
        </div>
      </div>
    </div>

<!--  Modal for checking answers-->
    <div class="modal fade" id="answers_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Check your answers</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="question_body"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<!--  Modal for closing camera-->
    <div class="modal fade" id="close_camera_modal" tabindex="-1" aria-hidden="true" data-is_camera_closed=false>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Data recording</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you want to stop recording data? Questions will not be available during this time.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id="close_camera_button" data-bs-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

  <!--  Modal for info-->
    <div class="modal fade" id="get_info" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <div class="d-flex justify-content-center mb-3">
                Accepted gestures are:
                <div>
                <span class="badge bg-info text-dark">Wave</span>
                <span class="badge bg-info text-dark">Thumbs up</span>
                <span class="badge bg-info text-dark">Thumbs down</span>
                <span class="badge bg-info text-dark">Fist</span>
                <span class="badge bg-info text-dark">Peace</span>
                <span class="badge bg-info text-dark">1</span>
                <span class="badge bg-info text-dark">2</span>
                <span class="badge bg-info text-dark">3</span>
                <span class="badge bg-info text-dark">4</span>
                <span class="badge bg-info text-dark">5</span>
                </div>
              </div>
<!--              <div class="d-flex justify-content-center mb-3">-->
<!--                Showing Wave for more than 5 seconds will give you the chance to stop recording the data.-->
<!--                You will have a button for start recording it again.-->
<!--              </div>-->
              <div class="container">
                Showing <span class="badge bg-info text-dark">Wave</span>
                for more than 5 seconds will give you the chance to stop recording the data.
                You will have a button for start recording it again.
              </div>
              <div class="container">
                Showing <span class="badge bg-info text-dark">5</span> for more than 5 seconds
                will open a new tab in the current browser.
              </div>
              <div class="container">
                Test your knowledge with 'Questions' game, but showing a
                <span class="badge bg-info text-dark">Thumbs up</span>
                 for the question that you think is false
                and a <span class="badge bg-info text-dark">Thumbs down</span> for the false ones.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
