html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: grey;
}

.heading {
    text-align: center;
    padding: 1.5em;
    background-color: black;
    color: white;
}

.answer {
    margin: 2%;
}

.container {
    padding-bottom: 3%;
}

.video_feed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#uploaded_image_content {
    max-width: 600;
    max-height: 600;
    overflow: auto;
}

#go_back {
    position: absolute;
    top: 30%;
    right: 1%;
}

#go_back_file {
    position: absolute;
    top: 30%;
    right: 1%;
}

.fix_canvas {
    position: absolute;
    top: 30%;
    left: 1%;
    text-align: left;
}

.fix_canvas_movies {
    margin-left: 15%;
}

#uploaded_image_content {
    margin: 5%;
}

#uploaded_file_content {
    overflow: auto;
}

#gesture_container {
    background-color: red;
    min-width: 2px;
    min-height: 2px;
}